@font-face {
  font-family: 'Fusion Pixel 10px Monospaced SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./fusion-pixel/fusion-pixel-10px-monospaced-latin.otf.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0100-024F, U+0250-02AF, U+2000-206F, U+20A0-20CF;
}

@font-face {
  font-family: 'Fusion Pixel 10px Monospaced SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./fusion-pixel/fusion-pixel-10px-monospaced-zh_hans.otf.woff2) format('woff2');
  unicode-range: U+2E80-2EFF, U+3000-303F, U+31C0-31EF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+FE10-FE1F, U+FF00-FFEF;
}
